.bg_register{
    background-image: url("/image/guest_auth.jpg");
    background-size: cover;
    background-position: center;
}
.btn_send{
    background-color: #2edeaa;
}
.btn_send:hover{
    background-color: #0af5ae;
}
.text_input{
    color: #2edeaa;
}
.text_green{
    color: #2edeaa;
}.bg_green{
    background-color: #2edeaa;
}
.bg_fuchsia{
    background-color: #6656c6;
}
textarea{
    resize: none;
}
.card_carousel{
    width: 32%;
}
.img_profil{
    background-color: red;
    height: 100%;
}